  /* TODO color when changing selection */
  .custom-control-input-female:checked~.custom-control-label::before {
    color: #fff;
    border-color: pink;
    background-color: pink;
}

.custom-control-input-male:checked~.custom-control-label::before {
      /* TODO color when changing selection */
      color: #fff;
    border-color: lightblue;
    background-color: lightblue;
}
