<div class="row mb-3 mt-3">
    <div class="col">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-row">
              <div class="col">
                  <div class="input-group mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="firstname"
                        name="firstname"
                        [ngModel]="firstname"
                        placeholder="Enter firstname"
                        aria-label="Firstname"
                        aria-describedby="button-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit" id="button-addon2"><i class="fa fa-search"></i>&nbsp;Search</button>
                      </div>
                    </div>
              </div>
            </div>
            <div class="form-row">
                <div class="col-xs-4">
                    <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input custom-control-input-female" id="female" name="female" [ngModel]="female">
                    <label class="custom-control-label" for="female"><i class="fa fa-female" style="color: pink"></i>&nbsp;Female</label>
                  </div>
                </div>
                <div class="col-xs-4">
                    <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input custom-control-input-male" id="male" name="male" [ngModel]="male">
                    <label class="custom-control-label" for="male"><i class="fa fa-male" style="color: lightblue"></i>&nbsp;Male</label>
                  </div>
                </div>
                <div class="col-xs-4">
                    <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="like" name="like" [ngModel]="like">
                    <label class="custom-control-label" for="like"><i class="fa fa-star"></i>&nbsp;Star</label>
                  </div>
                </div>
            </div>
          </form>
    </div>
</div>
